.m-ctr {
  margin: 10px auto;
  width: 75vw;
}
.container1 {
  display: flex;
  height: 55vh;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0px;
}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 15%;
}
.ctg-li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 22%;
  height: 100%;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 10px;
}
.ctg-name {
  padding: 10px 0px 10px 5px;
  transition: all 0.1s ease-in-out;
}
.ctg-name > a {
  text-decoration: none;
  color: black;
}
.ctg-name > a:hover {
  color: #ffbb00;
  cursor: pointer;
}
.ctg-icon {
  padding-right: 5px;
}
.ctg-name:hover {
  color: #ffbb00;
  cursor: pointer;
}

.up-container {
  background-color: #fff;
  list-style-type: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 54%;
  padding: 10px;
}

.down-container {
  background-color: #fff;
  list-style-type: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 45%;
}
.h-btns {
  padding: 10px 20px;
  margin-left: 10px;
  margin: 5px;
  font-weight: bold;
  background-color: #ffbb00;
  letter-spacing: 0.4px;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  outline: 0;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}
.h-btns:hover {
  opacity: 0.6;
}
.up-container > li > a {
  text-decoration: none;
  color: black;
  transition: all 0.4s ease-in-out;
}
.up-container > li {
  text-decoration: none;
  color: black;
  transition: all 0.4s ease-in-out;
}

.slideshow-container {
  width: 60%;
  height: 100%;
}
.mySlides {
  height: 100%;
  border-radius: 10px;
}
