/* for single page item*/

.add-cart {
  border-top: 1px solid #c2c2c2;
  padding: 15px 0px;
  margin-top: 10px;
}
.btn-add-to-cart {
  font-size: 19px;
  padding: 25px 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #ffbb00;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px #e2e2e2;
  border-radius: 5px;
}
.btn-add-to-cart:hover {
  opacity: 0.8;
}
.current-price {
  border-top: 1px solid #c2c2c2;
  padding-top: 5px;
}
.discount.-d-active {
  opacity: 0.8;
  margin-left: 10px;
  font-size: 13px;
  background-color: #ffbb00;
  color: white;
  border-radius: 5px;
  padding: 4px;
}
.prev-price {
  opacity: 0.8;
  font-size: 17px;
  margin-bottom: 5px;
}
.itm-m-ctr {
  margin: 10px auto;
  width: 75vw;
}
.itm-ctr {
  display: flex;
}
.itm-side-info {
  flex: 1;
  background-color: white;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05);
}
.itm {
  flex: 3;
  background-color: white;
  margin-right: 5px;
  border-radius: 5px;
  padding: 15px;
}
.itm-imgs {
  width: 45%;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.itm-name-price {
  width: 55%;
}
.itm-f-name {
  padding: 5px 0px;
}
.itm-top-m {
  display: flex;
  height: 350px;
  padding: 10px;
  border-bottom: 1px solid black;
}
.itm-nav-panel {
  padding: 10px;
}
/*image dialog*/

#pop-up-overlay-i.active {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 30;
  transition: all 0.3s ease-in-out;
}
.close-pp-i {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 3.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  background-color: #fff;
}
.itm-imgs-pp,
.main-img-pp {
  width: 90%;
  height: 90%;
}
.-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.other-img-pp {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  transition: 500ms ease-in-out;
}
.other-img-pp:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.7);
}
.popup-i {
  background-color: white;
  width: 50vw;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  max-width: 90%;
  z-index: 35;
}
.popup-i.pp-active {
  transform: translate(-50%, -50%) scale(1);
}
/*image dialog*/
.main-img {
  cursor: zoom-in;
  margin: auto;
}
.other-img {
  border-radius: 5px;
  margin: 1px 2px;
}
.other-img:hover {
  cursor: pointer;
  border: 1px solid #c2c2c2;
}
.product-name-dtl {
  list-style-type: circle;
  padding: 2px 0px 5px 20px;
  border-bottom: 1px solid #c2c2c2;
}
.product-name-dt {
  list-style-type: disc;
  padding: 2px 0px 5px 20px;
}

@media screen and (max-width: 1024px) {
  .itm-m-ctr {
    margin: 10px auto;
    width: 95vw;
  }
  .itm-ctr {
    flex-direction: column;
    margin: 10px 0px;
  }
  .itm-top-m {
    flex-direction: column;
    height: fit-content;
  }
  .other-itm-imgs {
    display: flex;
  }
  .itm-name-price {
    width: 95%;
    padding: 2px;
  }
  .itm-side-info {
    background-color: white;
    width: 94vw;
    margin: 5px auto;
  }
  .itm-imgs {
    width: 95%;
    height: fit-content;
  }
  .popup-i {
    background-color: white;
    width: 95vw;
    margin: auto;
    height: 75vh;
  }
}
