@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --mainColor: #e0c70c;
  --mainColor2: #f89938;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(146, 146, 146);
}
::-webkit-scrollbar-thumb {
  background-color: #ffbb00;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #faf8f8;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #eee;
  }
}
