/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --mainColor: #e0c70c;
  --mainColor2: #f89938;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8.5px;
  background-color: rgb(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background-color: #ffbb00;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #faf5f5;
  font-size: 14.5px;
}
.-b-x {
  box-shadow: 0px 0px 10px #cccbcb;
}
.-br {
  border-radius: 5px;
}
.btn {
  padding: 10px 15px;
  width: 200px;
  font-size: 16px;
  background-color: #ffbb00;
  border-radius: 5px;
  height: 40px;
  outline: none;
  border: none;
  color: #fff;
  margin: 5px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}

.-is {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 17px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 200px;
}
/*no width*/
.-is-nw {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.-is-nw:focus {
  border: 1px solid #ffbb00;
  box-shadow: 0px 0px 5px #ffbb00;
}
/*no width*/

.-is:focus {
  border: 1px solid #ffbb00;
  box-shadow: 0px 0px 5px #ffbb00;
}

@media screen and (max-width: 768px) {
  body {
    width: 95vw;
    background-color: #eee;
  }
}
@media screen and (min-width: 1800px) {
  body {
    width: fit-content;
    margin: 0px auto;
  }
  .search-nav {
    width: 100%;
  }
  .search {
    width: 500px;
  }
}
