.m-ctr {
  margin: 20px auto;
  width: 1200px;
}
.-ct {
  background-color: #fff;
  padding: 5px;
  margin: 15px 0px 0px 0px;
  border-radius: 10px;
  position: relative;
  border-radius: 5px;
}
/* product */
.-ch-all {
  display: flex;
  justify-content: space-between;
  background-color: #ffbb00;
  padding: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 5px 5px 0px 0px;
  height: 40px;
  color: white;
}
.-ch-all-w {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.-ch-all-t {
  color: #fff;
}
.-ch-all-t:hover {
  color: #000;
}
.-ch-all-w-t:hover {
  color: #ffbb00;
}
.-scroll {
  margin-top: 50px;
  display: flex;
  padding-bottom: 15px;
  overflow-x: hidden;
}
.-ct-item {
  border: none;
  margin: auto 5px;
  border-radius: 5px;
  width: 185px;
  height: 250px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.item:hover {
  box-shadow: 0px 0px 5px #c2c2c2;
  transform: scale(1.001);
}
.-lazy {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #eff1f3 40%,
    #f6f7f8 100%
  );
  animation-duration: 4s;
  background-size: contain;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}
@keyframes placeholderShimmer {
  0% {
    background-position: -250px 0;
  }

  100% {
    background-position: 250px 0;
  }
}
.-i-dtl {
  font-size: 13px;
}
.-sc-b {
  cursor: pointer;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 10;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #ffbb00;
  display: none;
}
.-sc-n {
  cursor: pointer;
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 10;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #ffbb00;
  display: none;
}
.-ct:hover .-sc-n,
.-ct:hover .-sc-b {
  display: block;
}
.-ct:hover .-sc-b {
  display: block;
}
.-sc-n > i,
.-sc-b > i {
  pointer-events: none;
}

.-col {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.-col-ctr {
  padding: 0px 15px;
}
.-col-ctr > a > img {
  border-radius: 5px;
}
.images {
  display: flex;
}
.pre-it-pr {
  text-decoration: line-through;
  opacity: 0.6;
}
.-ct-img {
  height: 40vh;
}
.-img-ls {
  height: 40vh;
  margin: 15px 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
}
.-img-ls > a {
  height: 95%;
  width: 49%;
  margin: auto;
}
.-img-l {
  height: 40vh;
  margin: 15px 0px;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
}
._image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.1);
  width: 185px;
  height: 185px;
}
.it-nm {
  font-size: 15px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
.it-pr {
  font-size: 16.5px;
  font-weight: bold;
}
.-d {
  background-color: #ffbb00d2;
  color: #fff;
  position: absolute;
  border-radius: 3px;
  margin: 5px;
  padding: 3px;
}
@media screen and (max-width: 768px) {
  .m-ctr {
    margin: 20px auto;
    width: 95vw;
  }
  .-sc-b,
  .-sc-n {
    display: none;
  }
  .-scroll {
    overflow-x: scroll;
  }
  .-col-ctr > a {
    margin-left: 15px;
  }
  .-img-ls {
    height: 30vh;
  }
  .-ct-item {
    width: 120px;
    height: 200px;
  }
  ._image {
    width: 120px;
    height: 120px;
  }
  /*for Chrome, Safari and Opera */
  .-scroll::-webkit-scrollbar {
    height: 5px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 1024px) {
  .m-ctr {
    margin: 20px auto;
    width: 95vw;
  }
  .-sc-b,
  .-sc-n {
    display: none;
  }
  .-scroll {
    overflow-x: scroll;
  }
}
